:root {
  --y-axis-rows: '---';
  --y-axis-size: '---';
  --y-axis-height: '---';
  --x-axis-length: '---';
  --x-axis-first-label: '---';
  --x-axis-length: '---';
  --x-axis-labels: '---';
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
}

body {
  font-family: "Oxygen", sans-serif;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  margin-bottom: 0;
}

h3 {
  color: #C50A1A;
  font-family: "Lato", sans-serif;
}

input, select {
  padding:4px;
  font-size:14px;
  font-family:"Oxygen", sans-serif;
}

.y-axis-ticks {
  display: grid;
  grid-template-rows: var(--y-axis-rows);
  background-size: var(--y-axis-size);
  background-image: linear-gradient(to bottom, black 4px, transparent 1px);
  height: var(--y-axis-height);
  width: 10px;
}

.y-axis-labels {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-between;
  height: var(--y-axis-height);
  margin-right: 7px;
  font-weight:bold;
}

.chart-display {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  align-items: stretch;
  margin: 0;
  padding: 0;
  border-left: 4px solid;
  border-bottom: 4px solid;

}

.chart li {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0.25rem;
  border-radius: 50% 50% 0 0 / 10px 10px 0 0;
  font-weight: bold;
  font-size: x-large;
}

.x-axis-labels {
  display: grid;
  margin-left: 44px;
  justify-items: end;
  margin-top: 0;
  width: var(--x-axis-length);
  grid-template-columns: var(--x-axis-labels);
}
