.chart-display {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0 0.5em;
  align-items: stretch;
  margin: 0;
  padding: 0;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  min-height: 12rem;
  border: 2px solid #a7a8aa;
  border-radius: 0.5rem;
}

.chart li {
  background: #ffd100;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  grid-row-start: 1;
  padding: 0.5rem 0.25rem;
  border-radius: 50% 50% 0 0 / 10px 10px 0 0;
}

li span {
  font-weight: bold;
}
