:root {
  --y-axis-rows: '---';
  --y-axis-size: '---';
  --y-axis-height: '---';
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
}

body {
  font-family: "Oxygen", sans-serif;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  margin-bottom: 0;
}

h3 {
  color: indianred;
  font-family: "Lato", sans-serif;
}


.y-axis-ticks {
  display: grid;
  grid-template-rows: var(--y-axis-rows);
  background-size: var(--y-axis-size);
  background-image: linear-gradient(to bottom, black 4px, transparent 1px);
  height: var(--y-axis-height);
  width: 10px;

}

.chart-display {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  align-items: stretch;
  margin: 0;
  padding: 0;
  border-left: 4px solid;
  border-bottom: 4px solid;

}

.chart li {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0.25rem;
  border-radius: 50% 50% 0 0 / 10px 10px 0 0;
  font-weight: bold;
  font-size: x-large;
}
