body {
  font-family: "Silkscreen", sans-serif;
}

.chart-display {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  align-items: stretch;
  margin: 0;
  padding: 0;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  min-height: 12rem;
  border-left: 4px solid;
  border-bottom: 4px solid;
}

.chart li {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0.25rem;
  border-radius: 50% 50% 0 0 / 10px 10px 0 0;
  font-weight: bold;
  font-size: x-large;
}

h2 {
  color: indianred;
}
